<h1> Fabricantes </h1>

<% @manufacturers.each do |m| %>
  <h3><%=link_to m.name, m %></h3>
<% end %>

<% if @manufacturers.empty? %>
  <p>Nenhum fabricante cadastrado</p>
<% end %>

<%= link_to 'Registrar novo fabricante', new_manufacturer_path %>

<%= link_to 'Voltar', root_path%>